---
import MailIcon from '../assets/mail.svg';
import imagowh from '../../public/favicon.svg'

import PortfolioIcon from '../assets/portafolios.svg'

const items = [
  { id: '1', ico: imagowh,  link: '/', title: 'Inicio' },
  { id: '2', ico:PortfolioIcon, link: '/proyectos', title: 'Proyectos' },
  { id: '3', ico: MailIcon, link: '/contacto', title: 'Contacto' },
];
---

<div class="fixed top-5 z-50 w-xs h-15 max-w-lg -translate-x-1/2 bg-gray-700/50 border border-gray-700/50 rounded-full left-1/2 flex justify-evenly items-center">
  {items.map((item) => (
    <a
      href={item.link}
      class="group relative text-white scale-110 hover:scale-130 hover:contrast-100 contrast-60 transition-transform duration-200 flex flex-col items-center"
      title={item.title}
    >
      <img src={item.ico?.src} style="filter:invert()" class="h-6 w-6"/>
      <span class="absolute -bottom-10 text-xs mt-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200">{item.title}</span>
    </a>
  ))}
</div>