<section
    id="introduction"
    class="container max-lg:w-1/12 min-sm:w-3/4"
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh; margin: 0 auto; max-width: 800px; text-align: center;"
>
    <h1
        class="mb-100 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl text-white"
        style="margin: 0;"
    >
        Donde la <span class="underline underline-offset-3 decoration-8 dark:decoration-yellow-500">creatividad</span> encuentra la <span class="underline underline-offset-3 decoration-8 dark:decoration-yellow-500">estrategia</span>
    </h1>
    <p
        class="text-lg font-normal text-white lg:text-xl sm:px-16 "
        style="margin: 0; margin-top: 2em;"
    >
        No somos proveedores, somos co-creadores de tus logros.
    </p>
</section>
