<section class="bg-black height: 100vh">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-20">
        
        <div id="card" class="bg-gradient-to-bl from-gray-800/50 border border-gray-800/50 rounded-lg p-8 md:p-12 mb-8 justify-center hover:border-yellow-500 hover:transition" style="text-align: center;">
        
            <h1 class="text-white text-3xl md:text-5xl font-extrabold mb-5">
            Donde la
            <span class="underline underline-offset-3 decoration-8 decoration-yellow-500">
                creatividad
            </span>
            encuentra la
            <span class="underline underline-offset-3 decoration-8 decoration-yellow-500">
                estrategia
            </span>
        </h1>
        
        <h2 class="text-xl font-normal text-white">
            No somos proveedores, somos co-creadores de tus logros.
        </h2>
        
        </div>

    <div class="grid md:grid-cols-2 gap-8">

        <div class="bg-gradient-to-bl from-gray-800/50 border border-gray-800/50 rounded-lg p-8 md:p-12 hover:border-yellow-500 hover:transition">
            <h2 class="text-white text-3xl font-extrabold mb-2">
                Branding Estratégico.
            </h2>
            <p class="text-lg font-normal text-gray-400">
                Nuestro equipo de expertos en branding te ayudará a crear una marca que se destaque en la competencia y que conecte con tus clientes de manera emocional.
            </p>
        </div>

        <div class="bg-gradient-to-bl from-gray-800/50 border border-gray-800/50 rounded-lg p-8 md:p-12 hover:border-yellow-500 hover:transition">
            <h2 class="text-white text-3xl font-extrabold mb-2">
                Marketing Digital y Automatización.
            </h2>
            <p class="text-lg font-normal text-gray-400">
                Aumenta tus conversiones y reduce tus costos con nuestras estrategias de marketing digital y automatización.
            </p>
        </div>

        <div class="bg-gradient-to-bl from-gray-800/50 border border-gray-800/50 rounded-lg p-8 md:p-12 hover:border-yellow-500 hover:transition">
            <h2 class="text-white text-3xl font-extrabold mb-2">
                Investigación de mercado y tendencias.
            </h2>
            <p class="text-lg font-normal text-gray-400">
                Ofrecemos un análisis exhaustivo del mercado y las tendencias emergentes para garantizar que tu negocio esté siempre un paso adelante.
            </p>
        </div>

        <div class="bg-gradient-to-bl from-gray-800/50 border border-gray-800/50 rounded-lg p-8 md:p-12 hover:border-yellow-500 hover:transition">
            <h2 class="text-white text-3xl font-extrabold mb-2">
                Consultoría en ventas y posicionamiento.
            </h2>
            <p class="text-lg font-normal text-gray-400">
                Contamos con expertos en ventas y posicionamiento que te ayudarán a identificar oportunidades de crecimiento y a desarrollar estrategias efectivas para aumentar tus ventas.
            </p>
        </div>
    </div>
  </div>
</section>

<section style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <div class="min-w-1/4" style=" display: flex; justify-content: center; align-items: center; width: 100%;">
        <button  class="relative inline-flex items-center justify-center p-1 mb-2 me-2 overflow-hidden text-lg font-medium rounded-lg group bg-gradient-to-br from-yellow-200 via-yellow-300 to-yellow-500 text-white hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-yellow-400">
            <span class="font-bold relative px-8 py-3 transition-all ease-in duration-75 bg-black rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                Descarga nuestro catálogo
            </span>
        </button>
    </div>
</section>

<style>
    button span {
        padding: 1rem 2rem;
        font-size: 1rem;
        min-width: 200px; ;
        max-width: none; /* Elimina el max-width para pantallas grandes */
    }

    @media (max-width: 768px) {
        button span {
            padding: 0.8rem 1.5rem;
            font-size: 0.9rem;
        }
    }

    @media (max-width: 480px) {
        button span {
            padding: 0.6rem 1rem;
            font-size: 0.8rem;
        }
    }
</style>